.number {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    padding: 0;
    margin: 0;
    font-size: medium;
    text-align: center;
    display: inline;
    border-radius: 9999px;
}

.paginado {
    display: grid;
    padding: 2rem;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 50px);
    justify-content: center;
}

.button{
    border: solid 2px transparent;
    border-radius: 9999px;
    color: white;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: transparent;
    transition: background-color 0.25s;
}

button:hover {
    background-color: #ffffff60;
}
