.DogsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 20px;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

Btn.Container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
    margin-bottom: -10px
}


.Button {
    background-color: transparent;
    box-sizing: border-box;
    cursor:pointer;
    height: 70%;
    border-radius: 0.6em;
    color: #e74c3c;
    line-height: 2rem;
    font-size: 1rem;
    margin-top: 17px;
    font-family: 'Montserrat', sans-serif;
}
.Button:first-of-type {
    border-right: none;
}


.home {
    border-color: #f1c40f;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.home:hover {
    background-position: 0;
}
.Link {
    text-decoration: none;
}

