.DogsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 20px;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

Btn.Container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
    margin-bottom: -10px
}

.Button {
    height: 70%;
    background-color: #f3f1ed;
    border: 1px solid #776c62;
    line-height: 2rem;
    font-size: 1rem;
    margin-top: 17px
}
.Button:first-of-type {
    border-right: none;
}

.Button:hover {
    cursor: pointer;
    background-color: #776c62;
    color: #f3f1ed;
}

.Link {
    text-decoration: none;
}

.link:hover{
    color: #f3f1ed;
}