.number {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    padding: 0;
    margin: 0;
    font-size: 10px;
    text-align: center;
    display: inline;
    border-radius: 9999px;
}

.paginado {
    display: grid;
    grid-template-columns: repeat(auto-fill, 35px);
    gap: 23px;
    border-radius: 999px;
    margin-bottom: 0px;
    margin-top: 0px;

}

.button{
    border: solid 2px transparent;
        color: white;
        cursor: pointer;
        font-size: 13px;
        background-color: transparent;
        transition: background-color 0.25s;
        width: 37px;
}

button:hover {
    background-color: #ffffff60;

}
