.paginado {
    display: inline-block;
    padding: 0;
    margin: auto;
    font-size: medium;
}

.paginado li {
    display: inline;
}

.paginado li button {
    float: left;
    padding: 8px 18px;
    border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.paginado li button:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}

.paginado li button:active {
    background-color: white;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.paginado li button:focus{
    background-color: white;
    ;
}